<section class="container">
    <h4 class="collapsible-category-title">Contact</h4>
    <div class="social-grid">
        <a href="mailto:contact@cmuller.ch" target="_blank" class="social-badge" title="Envoyer un email">
            <img src="/assets/email.png" alt="Email">
            <span>Email</span>
        </a>
        <a href="https://www.linkedin.com/in/cédric-muller-a6787127b" target="_blank" class="social-badge" title="LinkedIn">
            <img src="/assets/linkedin.png" alt="LinkedIn">
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/aceyzz" target="_blank" class="social-badge" title="GitHub">
            <img src="/assets/github.png" alt="GitHub">
            <span>GitHub</span>
        </a>
        <a href="https://discordapp.com/users/902603802132230154" target="_blank" class="social-badge" title="Discord">
            <img src="/assets/discord.png" alt="Discord">
            <span>Discord</span>
        </a>
        <a href="https://t.me/aceyzz" target="_blank" class="social-badge" title="Telegram">
            <img src="/assets/telegram.png" alt="Telegram">
            <span>Telegram</span>
        </a>
    </div>
</section>

<hr class="separator">

<section class="container">
    <h4 class="collapsible-category-title">Stats</h4>
    <p class="stats-note" id="stats-note"></p>
    <div class="stats-container" id="stats-container"></div>
</section>